<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="content image is-64x64">
                    <a href="{{ site.url }}">
                        <img src="/images/b_logo_black.svg" alt="Bright Inventions Logo Small">
                    </a>
                </figure>

                <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js" async></script>
                <div class="clutch-widget content" data-url="https://widget.clutch.co" data-widget-type="1" data-height="50"
                     data-clutchcompany-id="32656"></div>

                <address class="level content">
                    <div class="level-left ">
                        <span class="icon">
                            <img src="/images/location_purple.svg">
                        </span>
                        <div class="content">
                            <p>ul. Jana Matejki 12, <br>80-232 Gdańsk</p>
                        </div>
                    </div>
                </address>

                <div class="content level">
                    <div class="level-left">
                        <span class="icon">
                            <img src="/images/email_purple.svg" width="18">
                        </span>
                        <div class="content">
                            <a class="has-text-black-bis" href="mailto:info@brightinventions.pl?subject=bright%20mail">info@brightinventions.pl</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column has-text-centered">
                <a href="/projects">
                    <h4 class="subtitle is-size-4 has-text-weight-bold">our latest project</h4>
                    <figure class="image">
                        <img src="/images/Asset-7.svg" width="245" alt/>
                    </figure>
                </a>
            </div>

            <div class="column">
                <h4 class="subtitle is-size-4 has-text-weight-bold">services</h4>
                <p class="content"><a class="has-text-black-bis" href="/what-we-offer">web development</a></p>
                <p class="content"><a class="has-text-black-bis" href="/what-we-offer">mobile development</a></p>
                <p class="content"><a class="has-text-black-bis" href="/what-we-offer">consulting services</a></p>
                <p class="content"><a class="has-text-black-bis" href="/what-we-offer">UX/UI design</a></p>
            </div>

            <div class="column">
                <h4 class="subtitle is-size-4 has-text-weight-bold">sitemap</h4>
                <p class="content"><a class="has-text-black-bis" href="/about-us">about us</a></p>
                <p class="content"><a class="has-text-black-bis" href="/what-we-offer">what we offer</a></p>
                <p class="content"><a class="has-text-black-bis" href="/projects">projects</a></p>
                <p class="content"><a class="has-text-black-bis" href="/career">career</a></p>
                <p class="content"><a class="has-text-black-bis" href="/blog">blog</a></p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a class="is-link" href="https://www.facebook.com/Bright.Inventions/">
                    <figure class="image is-32x32">
                        <img src="/images/facebook.svg" alt class="social-icon">
                    </figure>
                </a>
            </div>
            <div class="column">
                <a class="is-link" href="https://twitter.com/BrightDevs">
                    <figure class="image is-32x32">
                        <img src="/images/twitter.svg" alt class="social-icon">
                    </figure>
                </a>
            </div>
            <div class="column">
                <a class="is-link" href="https://www.linkedin.com/company/bright-inventions/">
                    <figure class="image is-32x32">
                        <img src="/images/linkedIn.svg" alt class="social-icon">
                    </figure>
                </a>
            </div>
            <div class="column">
                <a class="is-link" href="https://www.instagram.com/bright_inventions/">
                    <figure class="image is-32x32">
                        <img src="/images/instagram.svg" alt class="social-icon">
                    </figure>
                </a>
            </div>
            <div class="column">
                <a class="is-link" href="https://github.com/bright">
                    <figure class="image is-32x32">
                        <img src="/images/GitHub.svg" alt class="social-icon">
                    </figure>
                </a>
            </div>
        </div>
        <div class="container has-text-centered">
            <h5>© 2019 Bright Inventions. All rights reserved.</h5>
            <a href="/privacy-policy" class="has-text-black-bis">Privacy Policy</a>
        </div>
    </div>
</footer>
