<meta charset="utf-8">

{% if page.author %}
  {% assign author = site.members | where: "author_id", page.author | first %}{% else %}{% assign author = site.owner %}
{% endif %}

{% include _seo.html %}

<meta name="keywords" content="software, development, software development, mobile, application,{{ page.tags | join: ', ' }}">
<meta name="description" content="Bright Inventions is a software consulting studio based in Gdansk, Poland operating since 2012. Our expertise in mobile, web, blockchain and IOT systems has been highly appreciated by our clients from UK, Germany, Netherlands, Norway, Israel and more.">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="http://t.co">

<!-- latin 300 -->
<link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2" as="font" crossorigin="anonymous">
<!-- latin 400 -->
<link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2" as="font" crossorigin="anonymous">
<!-- latin 500 -->
<link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2" as="font" crossorigin="anonymous">
<!-- latin 600 -->
<link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2" as="font" crossorigin="anonymous">
<!-- latin 600 -->
<link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2" as="font" crossorigin="anonymous">

<link href="{{ site.url }}/assets/css/bright.css?{{site.time | date: '%s%N'}}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<meta http-equiv="cleartype" content="on">

<link rel="apple-touch-icon" sizes="57x57 60x60 72x72 76x76" href="{{ site.url }}/images/favicon-96x96.png">
<link rel="apple-touch-icon" sizes="114x114 120x120 144x144 152x152 180x180" href="{{ site.url }}/images/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/images/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/images/favicon-16x16.png">
