{% capture seo_content %}{% seo %}{% endcapture %}

{% include post/crosspost_link.html %}

{% if crosspost_url and page.crosspost_canonical %}
{% capture canonical_link %}<link rel="canonical" href="{{ page.url | absolute_url }}" />{% endcapture %}
{% capture canonical_crosspost_link %}<link rel="canonical" href="{{ crosspost_url }}" />{% endcapture %}
{% assign seo_content = seo_content | replace: canonical_link, canonical_crosspost_link %}
{% endif %}

{{ seo_content }}

{% if page.image %}
<meta name="twitter:image" content="{{ page.image | absolute_url }}">
{% endif %}

