<div class="columns is-multiline team-members">
    {% for member in site.members %}
    {% unless member.ex %}
    <div class="column team-member">
        <a href="{{ member.url }}" class="is-flex has-items-centered has-direction-column">
            <figure class="image is-100x100 container">
                <img class="is-rounded"
                     src="{{member.avatar | absolute_url }}"
                     alt="{{ member.name }}">
            </figure>
            <p class="is-size-5 has-text-weight-bold">{{ member.short_name }}</p>
        </a>
    </div>
    {% endunless %}
    {% endfor %}
</div>
