<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}">
                <img class="navbar-logo" src="{{ site.url }}/images/bright_inventions_logo_500-01.png">
            </a>

            <div class="navbar-item is-hidden-desktop">
                <div class="buttons">
                    <a class="button is-primary" href="/start-project">
                        <strong>Estimate project</strong>
                    </a>
                </div>
            </div>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="#topNavBar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="topNavBar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/about-us">
                    About us
                </a>

                <a class="navbar-item" href="/what-we-offer">
                    What we offer
                </a>

                <a class="navbar-item" href="/projects">
                    Projects
                </a>

                <a class="navbar-item" href="/career">
                    Career
                </a>

                <a class="navbar-item" href="/blog">
                    Blog
                </a>
            </div>

            <div class="navbar-end is-hidden-mobile">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/start-project">
                            <strong>Estimate project</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
