@import '../../styles/mixins';

.feed {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 4rem;

  .entry {
    flex-basis: calc(50% - 2rem);
    cursor: pointer;
    border: 1px solid #d3d3d3;
    transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;
    box-shadow: 0 0 0 #00000029;

    &:hover {
      box-shadow: 0 0 60px #00000029;
      transform: scale(1.002);
      z-index: 10;
    }

    .image {
      position: relative;
      height: 16.9375rem;
      overflow: hidden;
      border-bottom: 1px solid #d3d3d3;
    }

    .content {
      padding: 1.375rem 2.75rem 2rem;

      .postInfo {
        font-family: Lato, sans-serif;
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        color: #000000;

        .date {
          position: relative;
          margin-right: 0.8rem;
          white-space: nowrap;

          &:after {
            padding-left: 0.8rem;
            content: '|';
          }
        }
      }

      .title {
        font-size: 1.75rem;
        font-weight: 900;
        letter-spacing: 0;
        color: #0a0a0a;
        margin-top: 1.3125rem;
      }
    }
  }
}
@include laptop() {
  .feed {
    column-gap: 3.5625rem;
    row-gap: 3.5625rem;

    .entry {
      flex-basis: calc(50% - 1.78125rem);
      .image {
        height: 14.6875rem;
      }
      .content {
        padding: 1.125rem 2.375rem 2rem;
        .postInfo {
          font-size: 1rem;
        }
        .title {
          font-size: 1.5625rem;
          margin-top: 0.9375rem;
        }
      }
    }
  }
}
@include tabletMax() {
  .feed {
    column-gap: 0;
    row-gap: 2.75rem;

    .entry {
      flex-basis: calc(100%);
      .image {
        height: 17.1875rem;
      }
      .content {
        padding: 1rem 2.3125rem 1.75rem;
        .postInfo {
          font-size: 1rem;
        }
        .title {
          font-size: 1.5625rem;
          margin-top: 1.0625rem;
        }
      }
    }
  }
}
@include mobile() {
  .feed {
    column-gap: 0;
    row-gap: 2.0625rem;

    .entry {
      flex-basis: calc(100%);
      .image {
        height: 9.25rem;
      }

      .content {
        padding: 0.75rem 1.5rem 1rem;
        .postInfo {
          font-size: 0.75rem;
        }
        .title {
          font-size: 1.25rem;
          margin-top: 0.625rem;
        }
      }
    }
  }
}
