blockquote {
    background: #f5f5f5;
    border: none;
    padding: 25px  60px 64px 223px;
    position: relative;
    margin: 80px 0;
    
}
blockquote::before {
  content: '“';
  color: #f7931e;
  position: absolute;
  font-family: Montserrat;
  font-size: 231px;
  line-height: 1;
  font-weight: 900;
  top: 0;
  left: 43px;
}
   
blockquote h2 {
  font: normal normal 800 32px/39px Montserrat;
} 
   
blockquote div {
  font: normal normal normal 20px/40px Lato;
  margin-bottom: 40px;
}
    
blockquote footer {
  font: normal normal bold 16px/19px Lato;
} 
