---
layout: default
title: Career
---


<div class="section-5 careersection">
  <div class="w-container">
    {% include _top_navigation.html %}
  </div><img src="blob:https://webflow.com/5a26b4d5-819b-4d9e-b4c1-4812d894a88a" alt>
  <div class="container-24 w-container">
    <h1 class="heading2 career">we hire bright people</h1>
  </div>
  <div class="container-11 w-container">
    <div class="collection-list-wrapper-3 w-dyn-list">
      <div class="collection-list w-dyn-items">
        {% include _jobs_open_top.html %}
      </div>

    </div><a href="#open-positions" class="link-block-13 w-inline-block"><img src="{{ site.url }}/images/arrow-more.svg" width="30" alt><p class="paragraph-17">see all</p></a></div>
  <div class="container-16 w-container"></div>
</div>
<div>
  <div class="container-12 w-container">
    <h1 class="main-heading careerheading">what we practise</h1>
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="div-block-2 div-block-serv_home"><img src="{{ site.url }}/images/design.svg" width="127" alt class="image-10">
          <p class="paragraph-4">in-house design</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="div-block-3 div-block-serv_home"><img src="{{ site.url }}/images/code-review.svg" width="127" alt class="image-10">
          <p class="paragraph-4">code review (Upsource)</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="div-block-4 div-block-serv_home"><img src="{{ site.url }}/images/pairProgramming.svg" width="127" alt class="image-10">
          <p class="paragraph-4">pair programming</p>
        </div>
      </div>
    </div>
    <div class="columns-6 w-row">
      <div class="w-col w-col-4">
        <div class="div-block-5 div-block-serv_home"><img src="{{ site.url }}/images/testdrivenenvironment.svg" width="127" alt class="image-10">
          <p class="paragraph-4">test-driven development</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="div-block-6 div-block-serv_home"><img src="{{ site.url }}/images/continuousintegration.svg" width="127" alt class="image-10">
          <p class="paragraph-4">continuous integration (TeamCity)</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="div-block-7 div-block-serv_home"><img src="{{ site.url }}/images/oneOnOne.svg" width="127" alt class="image-10">
          <p class="paragraph-4">one-on-one meetings</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-6">
  <div class="container-13 w-container">
    <h1 class="heading-5 heading-brightminds">bright minds, bright solutions</h1>
  </div>
</div>
<div id="open-positions">
  <div class="w-container">
    <h1 class="main-heading careerheading">open positions</h1>
    <div class="div-block-8">
      <div class="collection-list-wrapper-2 w-dyn-list">
        <div class="collection-list-5 w-dyn-items">
          {% include _jobs_open_all.html %}
        </div>

      </div>
    </div>
  </div>
</div>
{% include _footer.html %}


<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<!-- Start Cookie Script -->

<!-- End Cookie Script -->

