---
layout: default
title: Software Development Company
description: The best custom software development company in Poland. Through mobile apps and complex backend systems to emerging technology solutions we are creating success stories for startups, consultancy agencies as well as mid-size organisations across multiple industries including FinTech, Blockchain, HealthTech, Retail, Logistics and more.
class: index
---

<section class="hero we-deliver">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">let's create software that <span>matters</span></h1>
                </div>
                <div class="column is-ula-with-andrzej-background">
                    <figure class="image">
                        <img src="/images/ula_with_andrzej.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero experts-in">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                bright experts in
            </h1>
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="/images/web_development3.svg" width="128" alt="web development">
                    </figure>
                    <h2 class="subtitle">web development</h2>
                </div>
                <div class="column has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="/images/Mobile_App_Development3.svg" width="128" alt="mobile development">
                    </figure>
                    <h2 class="subtitle">mobile development</h2>
                </div>
                <div class="column has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="/images/consulting3.svg" width="128" alt="consulting services">
                    </figure>
                    <h2 class="subtitle">consulting services</h2>
                </div>
                <div class="column has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="/images/design3.svg" width="128" alt="UI/UX design">
                    </figure>
                    <h2 class="subtitle">UI/UX design</h2>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <a href="/what-we-offer" class="button is-outlined is-primary">more services</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark bright-minds">
    <div class="container has-text-centered is-flex has-items-centered">
        <h1 class="title">
            bright minds, bright solutions
        </h1>
    </div>
</section>

<section class="hero success-stories">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                our success stories
            </h1>
            <div class="columns is-multiline">
                {% for project in site.projects limit: 6 %}
                <div class="column is-one-third">
                    {% include _project_card.html project=project %}
                </div>
                {% endfor %}
            </div>

            <div class="level">
                <div class="level-item has-text-centered">
                    <a href="/projects" class="button is-outlined is-primary">more stories</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark why-us">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                why us?
            </h1>
            <div id="clutch-carousel" class="carousel">
                <div class="carousel-item has-text-centered">
                    <p class="content is-size-4">"(...) they delivered results very fast and were always very flexible. This is good for a startup, since we
                        have feature requests that sometimes come on very short notice."</p>
                    <div class="content author has-text-primary has-text-weight-bold">CTO, Survey Firm, Berlin</div>
                </div>
                <div class="carousel-item has-text-centered">
                    <p class="content is-size-4">"Besides being extremely proficient in their field, they care about our business and want us to succeed."</p>
                    <div class="content author has-text-primary has-text-weight-bold">Founder, Retail Management System, London</div>
                </div>
                <div class="carousel-item has-text-centered">
                    <p class="content is-size-4">"They actually care a lot about the design. You had to be almost perfect, and that was fine with us."</p>
                    <div class="content author has-text-primary has-text-weight-bold">Co-founder, Everytap, Poland</div>
                </div>
            </div>
            <div class="section">
                <div class="level">
                    <a href="https://www.appfutura.com/developers/bright" target="_blank" class="w-inline-block">
                        <img src="{{ site.url }}/images/appfutura-badge150.png" width="100" alt class="image-12"></a>
                    <a href="https://www.appfutura.com/developers/bright" target="_blank" class="w-inline-block">
                        <img src="{{ site.url }}/images/appfutura-badge2_150.png" width="100" alt class="image-37"></a>
                    <a href="https://clutch.co/profile/bright-inventions" target="_blank" class="w-inline-block">
                        <img src="{{ site.url }}/images/App-Developers_Poland_2018h135.png" width="100" alt class="image-38"></a>
                    <a href="https://clutch.co/profile/bright-inventions" target="_blank" class="w-inline-block">
                        <img src="{{ site.url }}/images/B2B_Companies_Poland_2018-h135.png" width="100" alt class="image-39"></a>
                    <a href="https://clutch.co/profile/bright-inventions" target="_blank" class="w-inline-block">
                        <img src="{{ site.url }}/images/Web_Developers_Poland_2018h135.png" width="100" alt class="image-40"></a>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js" async></script>
            <script async>
                (function () {
                    const attachCarousel = () => {
                        if (window.bulmaCarousel) {
                            window.bulmaCarousel.attach('#clutch-carousel', {
                                slidesToShow: 1,
                                infinite: true
                            })
                        } else {
                            setTimeout(attachCarousel, 500)
                        }
                    };
                    attachCarousel()
                }());
            </script>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">get in touch</h1>
        <form data-form-type="contact" action="#">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" maxlength="256"
                           name="name" placeholder="i.e. Aretha Franklin" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Email
                    Address
                </label>
                <div class="control">
                    <input type="email" class="input" maxlength="256" name="email"
                           placeholder="name@example.com" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                <textarea
                        name="message" maxlength="5000" placeholder="your message here" required
                        class="textarea"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox"
                               name="accept-policy"
                               value="yes"
                               required>
                        I accept the <a href="/privacy-policy" target="_blank" class="has-text-primary">Privacy Policy</a>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Submit</button>
                </div>
            </div>

        </form>
        <div class="form-success has-text-success is-size-4">Thank you! Your submission has been received!</div>
        <div class="form-error has-text-warning is-size-4">Oops! Something went wrong while submitting the form.</div>
    </div>
</section>
