---
layout: default
title: Projects
description: About our software development projects
---


  <div class="section-4 aboutus">
    {% include _top_navigation.html %}
    <div class="container-21 w-container">
      <div>
        <h2 class="main-heading">discover our projets</h2>
        <p class="paragraph">Since 2012 we have realized many innovative projects among which there are solutions supporting eco-driving, application for sportsmen, POS cash register, system supporting answering calls to emergency numbers and many others.</p>
        <div class="collection-list-wrapper-4 w-dyn-list">
          <div class="collection-list-3 w-dyn-items">
            {% include _projects_list.html %}
          </div>
          
        </div>
      </div>
    </div>
  </div>
  {% include _footer.html %}
  
  
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!-- Start Cookie Script -->
  
  <!-- End Cookie Script -->

