<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
{% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% include _seo.html %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <script src="{{ site.url }}/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script> -->

<!-- <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=latin-ext" rel="stylesheet"> -->
<link rel="preload" href="https://fonts.gstatic.com/s/exo2/v4/mJrGVjHbrdshrbGyvd7vdaCWcynf_cDxXwCLxiixG1c.woff2" as="font" crossorigin="crossorigin">
<link rel="preload" href="https://fonts.gstatic.com/s/exo2/v4/AbMslUVu4Wq5jvNwOBLwLnYhjbSpvc47ee6xR_80Hnw.woff2" as="font" crossorigin="crossorigin">
<style>
	/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v4/mJrGVjHbrdshrbGyvd7vdaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url(https://fonts.gstatic.com/s/exo2/v4/AbMslUVu4Wq5jvNwOBLwLnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
</style>
<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
{% if page.customCss %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/{{page.customCss}}.css">
{% endif %}
{% if page.layout == 'post' %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/post.css">
{% endif %}

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="{{ site.url }}/assets/js/vendor/html5shiv.min.js"></script>
	<script src="{{ site.url }}/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<link rel="apple-touch-icon" sizes="57x57 60x60 72x72 76x76" href="{{ site.url }}/images/favicon-96x96.png">
<link rel="apple-touch-icon" sizes="114x114 120x120 144x144 152x152 180x180" href="{{ site.url }}/images/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/images/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/images/favicon-16x16.png">
