<meta charset="utf-8">

{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% include _seo.html %}

<meta name="keywords" content="software, development, software development, mobile, application,{{ page.tags | join: ', ' }},{{ post.tags | join: ', ' }}">
<meta name="description" content="Bright Inventions is a software consulting studio based in Gdansk, Poland operating since 2012. Our expertise in mobile, web, blockchain and IOT systems has been highly appreciated by our clients from UK, Germany, Netherlands, Norway, Israel and more.">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<title>Software Development Company | Bright Inventions</title>
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{{ site.url }}/css/brightproject.webflow.b1c1680c2.css" rel="stylesheet" type="text/css">

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="{{ site.url }}/assets/js/vendor/html5shiv.min.js"></script>
	<script src="{{ site.url }}/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<link rel="apple-touch-icon" sizes="57x57 60x60 72x72 76x76" href="{{ site.url }}/images/favicon-96x96.png">
<link rel="apple-touch-icon" sizes="114x114 120x120 144x144 152x152 180x180" href="{{ site.url }}/images/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/images/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/images/favicon-16x16.png">
