<div class="level open-positions-top">
    {% assign jobs = site.jobs | sort: 'order' %}
    {% for job in jobs limit:3 %}
    <div class="level-item">
        <div>
            <a href="{{ job.url | absolute_url }}">
                <h3 class="has-text-white has-text-weight-bold">{{ job.title }}</h3>
                <div class="has-text-grey">{{ job.hours }}</div>
                <div class="has-text-primary">{{ job.salary }}</div>
            </a>
            <a href="{{ site.url }}/apply-for-job" class="button is-primary">Apply</a>
        </div>
    </div>
    {% endfor %}
    <div class="level-item">
        <div>
            <a href="/career#open-positions" class="has-text-weight-bold has-text-white">
                <figure class="image is-24x24"><img src="/images/arrow-more.svg" alt="See all"></figure>
                See all
            </a>
        </div>
    </div>
</div>
