<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="c580002b-9f94-1c00-b7e4-e5af8321f4c1"
     class="navbar-5 navbar_on_photo w-nav">
    <div class="container-4 w-container"><a href="{{ site.url }}/index" class="w-nav-brand w--current"><img
            src="{{ site.url }}/images/bright_inventions_logo_500-01.png" width="175" alt class="image-4"></a>
        <nav role="navigation" class="nav-menu-4 w-nav-menu">
            <a href="{{ site.url }}/about-us" class="nav-linkmenu w-nav-link">About Us</a><a
                href="{{ site.url }}/what-we-offer" class="nav-linkmenu w-nav-link">What We offer</a>
            <a href="{{ site.url }}/projects"
               class="nav-linkmenu w-nav-link">Projects</a>
            <a href="{{ site.url }}/career" class="nav-linkmenu w-nav-link">Career</a>
            <a href="{{ site.url }}/blog"
               class="nav-linkmenu w-nav-link">Blog</a>
            <a href="{{ site.url }}/start-project" class="start-s-project-button w-button">contact us</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon-5 w-icon-nav-menu"></div>
        </div>
    </div>
</div>
