<!--<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="c580002b-9f94-1c00-b7e4-e5af8321f4c1"-->
<!--     class="navbar-5 navbar_on_photo w-nav">-->
<!--    <div class="container-4 w-container"><a href="{{ site.url }}" class="w-nav-brand w&#45;&#45;current"><img-->
<!--            src="{{ site.url }}/images/bright_inventions_logo_500-01.png" width="175" alt class="image-4"></a>-->
<!--        <nav role="navigation" class="nav-menu-4 w-nav-menu">-->
<!--            <a href="{{ site.url }}/about-us" class="nav-linkmenu w-nav-link">About Us</a><a-->
<!--                href="{{ site.url }}/what-we-offer" class="nav-linkmenu w-nav-link">What We offer</a>-->
<!--            <a href="{{ site.url }}/projects"-->
<!--               class="nav-linkmenu w-nav-link">Projects</a>-->
<!--            <a href="{{ site.url }}/career" class="nav-linkmenu w-nav-link">Career</a>-->
<!--            <a href="{{ site.url }}/blog"-->
<!--               class="nav-linkmenu w-nav-link">Blog</a>-->
<!--            <a href="{{ site.url }}/start-project" class="start-s-project-button w-button">contact us</a>-->
<!--        </nav>-->
<!--        <div class="menu-button w-nav-button">-->
<!--            <div class="icon-5 w-icon-nav-menu"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.url }}">
            <img class="navbar-logo" src="{{ site.url }}/images/bright_inventions_logo_500-01.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/about-us">
                About us
            </a>

            <a class="navbar-item" href="/what-we-offer">
                What we offer
            </a>

            <a class="navbar-item" href="/projects">
                Projects
            </a>

            <a class="navbar-item" href="/career">
                Career
            </a>

            <a class="navbar-item" href="/blog">
                Blog
            </a>

<!--            <div class="navbar-item has-dropdown is-hoverable">-->
<!--                <a class="navbar-link">-->
<!--                    More-->
<!--                </a>-->

<!--                <div class="navbar-dropdown">-->
<!--                    <a class="navbar-item">-->
<!--                        About-->
<!--                    </a>-->
<!--                    <a class="navbar-item">-->
<!--                        Jobs-->
<!--                    </a>-->
<!--                    <a class="navbar-item">-->
<!--                        Contact-->
<!--                    </a>-->
<!--                    <hr class="navbar-divider">-->
<!--                    <a class="navbar-item">-->
<!--                        Report an issue-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/start-project">
                        <strong>Contact us</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
