$navbar-height: 5.5rem;
$navbar-item-img-max-height: 67px;
@import "bulma/sass/components/navbar";

.navbar-logo {
  $baseWidth: 175px;
  width: $baseWidth;

  @include mobile {
    width: $baseWidth / 2;
  }
}

.navbar-brand {
  .is-hidden-desktop {
    margin-left: auto;
  }
  @include tablet {
    .navbar-burger {
      margin-left: 0;
    }
  }
  @include mobile {
    .navbar-burger {
      margin-left: 0;
    }
  }
}
.navbar-item {
  text-transform: uppercase;

  .button {
    border-radius: 0;
  }

  .button.is-primary {
    box-shadow: 0 1px 13px 0 rgba(247,147,30,.6)
  }
}


