@import "vendor/font-awesome/font-awesome";

$black-color: #000;
$white-color: #fff;
$brand-color: #FFED00;

$rotation: -15deg;
$max-width: 80em;
$nav-height: 9em;
$nav-margin-left: 17.25em;
$skewed-line-width: 1.5em;
$image-hero-bottom-cut: 50px;

$transition: .25s ease-in-out;

@mixin dark-box() {
    background-color: $black-color;
    color: $white-color;
}

@mixin skewed-line() {
    content: '';
    position: absolute;
    width: $skewed-line-width;

    transform: skewX($rotation);
    background-color: $brand-color;
}

@mixin bars-line() {
    content: '';
    position: absolute;
    height: 15px;
    background-image: repeating-linear-gradient(90deg - $rotation, $white-color 0, $white-color 5px, $brand-color 5px, $brand-color 8px);
}

@mixin round-image($size) {
    width: $size;
    height: $size;
    max-width: 100%;
    border-radius: 50%;
    shape-outside: circle();
}
