$navbar-height: 4.6rem;
$navbar-item-img-max-height: 67px;
@import 'bulma/sass/components/navbar';

.navbar-logo {
  $baseWidth: 175px;
  width: $baseWidth;

  @include mobile {
    width: $baseWidth / 2;
  }
}

.navbar-brand {
  .is-hidden-desktop {
    margin-left: auto;
  }
  @include tablet {
    .navbar-burger {
      margin-left: 0;
    }
  }
  @include mobile {
    .navbar-burger {
      margin-left: 0;
    }
  }
}
.navbar-item {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #0a0a0a;
  // letter-spacing: 0.2em;
  .button {
    border-radius: 0;
  }

  .button.is-primary {
    height: 35px;
    // box-shadow: 0 1px 13px 0 rgba(247, 147, 30, 0.6);
    color: black;
  }
}
