@import "variables";
.hero {
  .hero-body {
    padding-top: 0;
    padding-bottom: 4rem;
  }
}

.we-deliver,
.experts-in,
.success-stories {
  .hero-body {
    padding-bottom: 6em;
    @media (max-width: 768px) {
      padding-bottom: 0;
    }
  }
}

.we-deliver {
  background-color: $white;
  .title {
    span {
      color: $primary;
    }
  }
  .is-ula-with-andrzej-background {
    //background-position: 0 40%;
    //background-size: contain;
    //background-repeat: no-repeat;
    //background-image: url(/images/ula_with_andrzej.jpg);
    //height: 975px;
  }

  .fintech-image {
    width: 150px;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.hero-body h1 {
  color: $heading-black;
  font-weight: 800;
}

.carousel {
  .slide {
    background: transparent !important;
  }
}

.input,
.textarea {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d3d3d3;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 2rem;
}

.button.estimate {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  color: black;
  width: 100%;
  // letter-spacing: 0.2em;
  border-radius: 0;
  margin: 6em 0;
  padding: 1.5em 0;
}
