address {
  font-style: normal;
}

.is-normal {
  font-style: normal !important;
}

.title {
  font-size: 3rem;
}

@include tablet-only {
  .title {
    font-size: 60px;
  }
}

@include desktop {
  .title {
    font-size: 70px;
  }
}

.content {
  font-family: Lato, sans-serif;
  font-size: 1.12em;
  line-height: 2;
}

.title, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
