@import 'bulma/sass/utilities/initial-variables';

$input-placeholder-color: $grey-dark;

$family-sans-serif: Montserrat, sans-serif;
$family-secondary: Lato;

$navbar-height: 4.6rem;

$size-mobile: 580px;
$size-tablet: 991px;
$size-tabletXL: 1280px;
$size-laptop: 1540px;

$bright-orange: #f7931e;
$bright-green: #39ddaa;
$bright-violet: #520993;
$heading-black: #0a0a0a;
$text-black: #0a0a0a;

$primary: $bright-orange;
$link: $bright-orange;
$box-border: #d3d3d3;

$title-size: 3rem;

$images-url-base: 'https://images.brightinventions.pl';
