@import 'variables';
// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Lato: 400, 700&display=swap');

@import './bulma/sass/utilities/all';
@import './bulma/sass/base/all';
@import './bulma/sass/elements/all';

@import './bulma/sass/layout/all';

@import './bulma/sass/grid/all';

@import './bulma/sass/components/level';
@import './bulma/sass/components/modal';

//@import "./bulma/bulma";

@import 'typography';

@import 'form-submit';

@import 'helpers';

@import 'navbar';
@import 'page-index';
@import 'page-career';
@import 'team-members';
@import 'carousel';
@import 'blog';
@import 'rouge_style_github';
@import 'rouge_style_bright';
@import 'footer';

// @import 'fonts.scss';

@import 'instagram-embed';

.layout-container {
  margin-top: $navbar-height;
}

html {
  // TODO: for some reason simply $navbar-height is not enough :(
  scroll-padding-top: $navbar-height * 2;
}
