@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  min-height: calc(100vh - #{$navbar-height});
  background-color: $white;
  user-select: none;
  align-items: center;
  display: flex;

  .title {
    margin-top: 1.1em;
    margin-bottom: 1em;
    font-size: 100px;
    line-height: 100px;

    span {
      color: $primary;
    }
  }
}

@include mobile() {
  .header {
    :global(.hero-body) :global(.container) {
      height: 100%;

      :global(.columns) {
        height: 100%;
        display: flex;
        flex-direction: column;

        :global(.column) {
          display: flex;
          flex-grow: 1;
          align-items: center;

          :global(.buttons) {
            width: 100%;
          }
        }
      }
    }

    .title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 55px;
      line-height: 55px;
    }
  }
}