.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0;
  color: #000000;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.service {
  max-width: 550px;
  padding: 1rem 3rem 3rem;

  .icon {
    transform: scale(0.7);
    text-align: center;
  }
}