@import '../../../styles/variables';
@import '../../../styles/mixins';

.title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0;
  color: $heading-black;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.seviceswrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  .service {
    flex-basis: 50%;
    padding: 1rem 5.25rem 5rem 0;
    &:nth-of-type(even) {
      padding-right: 0;
    }

    .icon {
      max-height: 100%;
      padding-bottom: 0.875rem;
      text-align: center;
      & > svg {
        max-height: 95px;
      }
    }
  }
}
@include tabletMax() {
  .title {
    font-weight: 900;
    font-size: 1.5625rem;
  }
  .seviceswrapper {
    .service {
      flex-basis: 100%;
      font-size: 1.375rem;
      padding: 0 0 4rem 0;
      .icon {
        max-height: 100%;
        padding-bottom: 0;
        text-align: center;
        & > svg {
          max-height: 66px;
        }
      }
    }
  }
}
@include mobile() {
  .title {
    font-weight: 900;
    font-size: 1.375rem;
  }
  .seviceswrapper {
    .service {
      flex-basis: 100%;
      font-size: 1.375rem;
      padding: 0 0 4rem 0;
    }
  }
}
