@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  color: $heading-black;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.seviceswrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 65px;

  .service {
    flex-basis: calc(50% - 65px / 2);
    padding: 2.75rem 2.75rem 3.125rem;
    border: 1px solid #d3d3d3;
    &:hover {
      box-shadow: rgb(170 170 170) 15px 15px 40px -25px;
    }
    .icon {
      max-height: 100%;
      text-align: center;
      & > svg {
        max-height: 95px;
      }
    }
  }
}
@include laptop() {
  .seviceswrapper {
    gap: 56px;
    .service {
      flex-basis: calc(50% - 56px / 2);
      padding: 2.9375rem 2.4375rem 3.125rem;
    }
  }
}
@include tabletMax() {
  .seviceswrapper {
    gap: 45px;
    .service {
      flex-basis: calc(50% - 45px / 2);
      padding: 2.3125rem 1.875rem 2.6875rem;
    }
  }
}
@include tabletMax() {
  .title {
    font-weight: 900;
    font-size: 1.5625rem;
  }
  .seviceswrapper {
    .service {
      flex-basis: 100%;
      font-size: 1.375rem;
      padding: 2.3125rem 1.875rem 2.6875rem;

      .icon {
        max-height: 100%;
        padding-bottom: 0;
        text-align: center;
        & > svg {
          max-height: 66px;
        }
      }
    }
  }
}
@include mobile() {
  .title {
    font-weight: 900;
    font-size: 1.375rem;
  }
  .seviceswrapper {
    .service {
      flex-basis: 100%;
      font-size: 1.375rem;
      padding: 2.3125rem 1.875rem 2.6875rem;
    }
  }
}
