---
---
@import  "variables";

.container main {
    padding-left: 120px;

    > h3 {
        border-bottom: 1px solid $grey-color;
        font-size: 36px;
    }

    > article {
        margin-bottom: 80px;
        max-width: 600px;

        h2 {
            margin-bottom: 7px;
            margin-top: 0px;
        }

        p {
            margin: 0 0 10px;
        }

        .tags {
            margin: 0;
            color: $grey-color-light;
            font-weight: lighter;
        }

        .byline {
            color: black;
            font-size: 13px;

            .author {
                font-weight: bold;
            }

            img {
                display: inline-block;
                border-radius: 2px;
                margin-right: 7px;
            }

            div.post-metadata {
                display: inline-block;
                vertical-align: top;
                line-height: 150%;

                .details {
                    margin-top: 5px;

                    span {
                        margin-right: 6px;
                    }

                    span:nth-child(n+2)::before {
                        content: "|";
                        margin-right: 6px;
                    }
                }
            }

        }

    }

    .read-more, .pagination {
        a {
            background-color: #009ce9;
            text-decoration: none;
            color: white;
            padding: 10px 30px;
            border-radius: 17px;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
        }
        a:hover {
            background: #0088cc;
        }
        .page_number {
            border: 1px solid gray;
            border-radius: 17px;
            padding: 10px 30px;
            margin: 0 10px;
        }
    }

    .read-more {
        text-align: right;
        padding-top:10px;
    }

    .pagination {
        text-align: center;
        max-width: 600px;
        padding-top:20px;
        padding-bottom:70px;
    }
}

@media (max-width: 800px) {
    .container main {
        padding-left: 10px;
    }
}
