---
---

@import "base";
@import "navbar";
//@import "code";

.w-webflow-badge {
  display: none;
}

.center-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.blog-post {
  display: block;
}

.blog-posts-grid {
  align-items: center;
}
