---
---

@import "variables";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import  "normalize";
@import "_prefix";

* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: calc(.8em + 1vw);
    font-family: 'Exo 2', sans-serif;
    line-height: 1.5;

    > footer:before {
        // bottom pictograms bar
        content: '';
        display: block;
        width: 100%;
        height: 3em;
        padding-bottom: 1em;
        background: url("/images/footer-bar.svg") repeat-x left 0;
        background-size: contain;
    }
}

.container {
    margin: 0 auto;
    position: relative;
    min-height: calc(100% - 180px);
}

header {
    overflow: hidden;

    h1 {
        float: left;
        margin: 0.5em 0.5em 0;

        a {
            display: inline-block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            background: url("/images/logo.svg") no-repeat;
            width: 182px;
            height: 159px;
        }
    }
}

nav {
    width: 100%;
    height: $nav-height;
    margin-left: $nav-margin-left;
    padding: 3em 1em;
    transform: skewX($rotation);
    transform-origin: top;
    transition: $transition height;
    @include dark-box();

    ul {
        opacity: 0;
        padding: 0;
        margin: 2.5em 0 0 0.5em;
        transition: $transition opacity;
    }

    .item {
        list-style: none;
        &:hover {
            a {
                color: $brand-color-light;
            }
        }
        a {
            display: inline-block;
            color: $white-color;
            padding: 1em 0;
            text-decoration: none;
            text-transform: uppercase;
            transform: skewX(-$rotation);
        }
        

        &.active a {
            color: $brand-color;
        }
    }

    &.expanded {
        width: 100%;
        height: 100vh;
        margin-bottom: 2em;

        ul {
            opacity: 1;
        }
    }
}

#nav-icon {
    $base-size: 2.5em;
    width: $base-size;
    height: 0.75 * $base-size;
    position: relative;
    margin-top: 1em;
    transform: rotate(0deg) skewX(-$rotation);
    // transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 0.12 * $base-size;
        width: 100%;
        background: $white-color;
        border-radius: 0.12 * $base-size;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        // transition: $transition;

        &:nth-child(1) {
            top: 0;
            transform-origin: left center;
        }

        &:nth-child(2) {
            top: 0.3 * $base-size;
            transform-origin: left center;
        }

        &:nth-child(3) {
            top: 0.6 * $base-size;
            transform-origin: left center;
        }
    }

    .expanded & span {
        &:nth-child(1) {
            transform: rotate(45deg);
            top: -.07 * $base-size;
            left: 0.13 * $base-size;
        }

        &:nth-child(2) {
            width: 0;
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            top: 0.65 * $base-size;
            left: 0.13 * $base-size;
        }
    }
}

section {
    clear: both;
    min-height: 28em;
    padding: 0 1.5em 1em;

    .list-items {
        list-style: none;
        padding-left: 0;

        .list-item-description {
            position: relative;
            padding-left: 1em;
            font-size: smaller;
            transform: skewX($rotation);

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                top: -38px;
                width: 0.25em;
                background-color: $black-color;
            }

            strong {
                color: $black-color;
            }
        }
    }

    a {
        color: $black-color;
    }
}

main {
    clear: both;

    :first-child {
        margin-top: 0;
    }

    em {
        font-style: normal;
        font-weight: bold;
        font-size: larger;
    }

    li {
        list-style: none;

        &:before {
            content: '';
            display: inline-block;
            position: relative;
            left: -1em;
            top: 0;
            width: 2px;
            height: 0.75em;
            background-color: $brand-color;
            transform: skewX($rotation);
        }
    }

    &.space-left {
        padding-left: 100px;
    }
}

// a.button,
// button,
input,
textarea {
    padding: 0.5em;
    border: 1px solid $black;
    border-radius: 5px;
}

a.button,
button {
    background-color: $brand-color;
    border: 1px solid $brand-color;    
    padding: 0.6em 2em;
    text-decoration: none;
    border-radius: 5px; 
    font-size: 18px;       
}

a.button:hover,
button:hover {
    background-color: $brand-color-light;  

}

a.button.estimate {
    padding: 0.7em 2em;
    font-size: 30px;
}

.space-before {
    margin-top: 3em;
}

.clearfix {
    clear: both;
}

.image-hero {
    $padding: 6em;
    float: left;
    height: calc(100vw - #{$padding});
    margin-bottom: $image-hero-bottom-cut;
    overflow: hidden;

    &.floated {
        shape-outside: circle();
    }

    > * {
        @include round-image(calc(100vw - #{$padding}));
    }

    .project & {
        height: calc(100vw - #{$padding});

        img {
            border: 0.5em solid $black-color;
        }
    }
}

.images-group {
    text-align: center;

    img {
        margin: 0 0.5em 1em;
    }
}

.image-lg {
    @include round-image(128px);
}

.image-md {
    @include round-image(128px);
}

.image-sm {
    @include round-image(120px);
}

.slogan {
    font-weight: normal;

    span {
        color: #888;
    }
}

.subheading {
    clear: both;
    position: relative;
    padding-top: 1em;
    margin-bottom: 1.5em;
    color: $brand-color;
    text-transform: uppercase;
    font-size: 2em;

    &:after {
        @include bars-line();
        bottom: -.5em;
        left: 0;
        z-index: -2;
        width: 100%;
    }

    &.black {
        color: $black;
    }
}

.centered-info {
    text-align: center;
    font-size: larger;
}

.testimonials {
    max-width: 60em;
    margin-left: 96px;

    .subheading {
        position: relative;
        margin-bottom: 0;
        padding-left: 2em;

        &:after {
            bottom: 0;
            left: 1.5em;
            width: 5px;
            height: 1.25em;
            -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
            background-image: none;
            background-color: #ddd;
        }
    }

    .testimonials-list {
        overflow: hidden;
        border: 1px solid #ddd;
        margin-bottom: 3em;

        blockquote {
            position: relative;
            overflow: hidden;
            padding-top: 2em;

            &:before {
                content: '';
                position: absolute;
                height: 15px;
                background-image: -webkit-repeating-linear-gradient(345deg, #fff, #fff 5px, #ddd 0, #ddd 8px);
                background-image: repeating-linear-gradient(105deg, #fff, #fff 5px, #ddd 0, #ddd 8px);
                top: 0;
                width: 100%;
            }

            &:first-child {
                padding-top: 0;

                &:before {
                    display: none;
                }
            }
        }

        cite {
            float: right;
            padding-right: 2px;
        }
    }
}

footer {
    width: 100%;
    clear: both;

    .container {
        padding: 1em;
        padding-bottom: 0.6em;
        p {
            margin: 0;
            width: 280px;
            float: left;
            line-height: 31px;
        }
    }

    .outer {
        padding: 1em;
        @include dark-box();
    }

    .links {
        margin: 0;
        margin-left: calc(50% - 190px);
        padding-top: 18px;
        li {
            display: inline-block;
            padding-right: .5em;

            &:before {
                content: none;
            }
        }
    }
}

@media (min-width: 359px) {
    nav {
        padding: 3em 2em;
    }
}
@media (min-width: 411px) {
    #nav-icon {
        margin-left: 1em;
    }
}
@media (min-width: 767px) {
    body {
        font-size: 1em;

        &:before {
            // full-width to the right black background behind nav
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: $nav-height;
            border-right: 50vw solid $black-color;
        }

        // &.standard > .container:before {
        //     // yellow bars between nav and content
        //     @include bars-line();
        //     top: $nav-height + 3em;
        //     right: 0;
        //     left: 13em; // arbitrary number so that it's not visible left of image-hero
        //     z-index: -2;
        // }

        > .container:after {
            // bottom pictograms bar
            $left-shift: 10em;
            width: calc(100% - #{$left-shift});
            height: 6em;
            margin-bottom: 0;
            margin-left: $left-shift;
            background-size: initial;
            background-position-y: 1em;
        }
    }

    nav {
        width: calc(100% - #{$nav-margin-left} + #{4em});
        padding: 1.2em;

        ul {
            opacity: 1;
            margin: 0 1.75em;
        }

        .item {
            display: inline-block;
            margin: 0.25em 0;
            border-right: 2px solid $brand-color;

            a {
                padding: 0.75em;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    section {
        &:before {
            // long yellow skewed bar
            @include skewed-line();
            top: 0;
            left: $nav-margin-left - $skewed-line-width;
            z-index: -1;
            height: 100%;
            transform-origin: top;
        }
    
    }

    #nav-icon {
        display: none;
    }

    .image-hero {
        $size: 350px;
        margin: 0 6em $image-hero-bottom-cut 0;
        height: $size - $image-hero-bottom-cut;

        > * {
            width: $size;
            height: $size;
        }

        .project & {
            height: $size;
        }
    }

    .image-md {
        @include round-image(150px);
        max-width: 150px;
    }

    .images-group {
        float: left;
        max-width: 45%;
        margin: 3em 2em 0 0;
    }

    section {
        padding: 0 3em 1em;

        .standard & {
            padding-left: 4em;
        }

        .list-items {
            margin-left: 6em;
            padding-right: 6em;

            .list-item-description {
                $size: 240%;
                position: absolute;
                left: -$size;
                top: 130px;
                width: $size;
                opacity: 0;
                pointer-events: none;
                // transition: $transition;
                z-index: 3;
            }

            li {
                float: left;
                padding: 0.5em;
                margin-bottom: 8em;
                position: relative;

                img {
                    box-sizing: content-box;
                }

                &.open {
                    img {
                        margin: -.5em;
                        border: 0.5em solid $brand-color;
                    }

                    .list-item-description {
                        opacity: 1;
                        left: 0;
                        pointer-events: all;
                    }
                }
            }
        }
    }

    main {
        position: relative;
        z-index: 3;
        margin-left: 7em;
        padding-top: 4em;
        max-width: $max-width;
        clear: none;
    }

    footer .container {
        padding-left: 6em;
        height: 90px;

        // &:before {
        //     @include skewed-line();
        //     bottom: -1em;
        //     left: 3em;
        //     z-index: 2;
        //     height: 12em;
        //     transform-origin: bottom;
        // }
    }
}
@media (min-width: 1023px) {
    nav {
        padding: 3em 2em;
    }

    .about-us {
        p {
            font-size: 36px;
            text-align: center;
        }
        padding-left: 50px;
    }

    .image-hero {
        $size: 450px;
        // height: $size - $image-hero-bottom-cut;
        height: $size;
        margin-top: 130px;
        > * {
            width: $size;
            height: $size;
        }

        .project & {
            height: $size;
        }
    }

    .image-lg {
        @include round-image(190px);
    }

    section {
        .list-items {
            padding-right: 12em;
        }
    }

    footer .container {
        padding-left: 8em;
        padding-top: 0px;
        &:before {
            left: 4em;
        }
    }
}
@media not screen and (min-device-pixel-ratio: 2) {
    section .list-items .list-item-description:before {
        box-shadow: 0 0 2px 0;
    }
}
@media not screen and (min-device-pixel-ratio: 2) and (min-width: 767px) {
    nav .item {
        backface-visibility: hidden;
    }
}

@media (max-width: 767px) {
    a.button.estimate {
        padding: 0.5em 2em;
        font-size: 20px;
    }
    a.button {
        padding: 0.5em 2em;
        font-size: 18px;
    }
    .container section .testimonials {
        margin-left: 0;
    }
    footer {
        .links {
            display: none;
        }
        .container {
            padding: 0;
            padding-bottom: 30px;
            height: 100px;
            p {
                width: auto;
            }
        }
    }
    nav {
        &:before {
            content: '';
            position: absolute;
            width: 1.5em;
            transform: skewX(0deg);
            background-color: #FFED00;
            top: 0;
            left: -1.4em;
            z-index: -1;
            height: 100%;
            transform-origin: top;
        }
    }

}
