---
---
@import '_prefix';

@media (min-width: 767px) {
    .portfolio {
        main {
            p {
                padding-left: 5em;
                margin-bottom: 60px;
                b {
                    font-size: 18px;
                }
            }
        }

        h2 {
            padding: 2em 0 0 7em;
        }

        .list-items {
            margin-left: 7em;
        }
    }
}

@media (min-width: 1023px) {
    .portfolio {
        h2 {
            padding: 2em 0 0 8em;
        }

        .list-items {
            margin-left: 10em;
        }
    }
}
