---
---
@import '_prefix';

@media (min-width: 767px) {
    .portfolio {
        h2 {
            padding: 2em 0 0 7em;
        }

        .list-items {
            margin-left: 7em;
        }
    }
}

@media (min-width: 1023px) {
    .portfolio {
        h2 {
            padding: 2em 0 0 8em;
        }

        .list-items {
            margin-left: 10em;
        }
    }
}
