---
---
@import "variables";
@import "code";

body {
  // width: 100%;
  section {
    width: 100%;
    article.post {
        margin-left: 250px;
        margin-top: 50px;
        max-width: 800px;
    }
    #disqus_thread {
        padding: 0;
        padding-top: 50px;
    }
  }

  img:not(.bio-photo) {
    max-width: 100%;
  }
}
