---
layout: default
title: Blog
description: Ideas about software development, practices. Coding examples in Swift, Kotlin, Android, iOS, Backend, Node.js, SQL, AWS and more.
class: blog-list
---

<div class="container">
    <section class="section">
        <h1 class="title has-text-dark">Bright Devs Blog</h1>
        {% for post in paginator.posts %}
        <a href="{{ post.url | absolute_url  }}" class="blog-post-list-item">
            <div class="card">
                <div class="card-content">
                    <div class="level is-hidden-tablet">
                        <figure class="image is-flex has-items-centered">
                            <img src="{{ post.image | absolute_url }}" alt="{{ post.title }}">
                        </figure>
                    </div>
                    <div class="level content">
                        <div>
                            <h2 class="title">{{ post.title }}</h2>
                            {% include _tags.html tags=post.tags %}
                            <p>{{ post.excerpt | strip_html | truncate: 1000 }}</p>
                        </div>
                        <div class="level-right is-hidden-mobile">
                            <div>
                                <figure class="image is-256x256 is-flex has-items-centered">
                                    <img src="{{ post.image | absolute_url }}" alt="{{ post.title }}">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

        <div class="is-flex has-justify-content-space-between">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | absolute_url  }}" class="button">
                    <span class="icon">
                        <svg class="w-pagination-previous-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                             transform="translate(0, 1)">
                                <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M8 10L4 6l4-4"/>
                        </svg>
                    </span>
                <span>Previous</span>
            </a>
            {% endif %}

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | absolute_url  }}" class="button">
                <span>Next</span>
                <span class="icon">
                     <svg class="w-pagination-next-icon icon-7" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                          transform="translate(0, 1)">
                        <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M4 2l4 4-4 4"/>
                    </svg>
                </span>
            </a>
            {% endif %}
        </div>
    </section>
</div>
