@import "../../styles/variables";
@import "../../styles/mixins";

.achievements {
 
      .number {
        font-family: "Montserrat", Lato, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 5.5rem;
        color: $white;
      }

      .label {
        font-family: "Montserrat", Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.375rem;
        color: $white;
        opacity: 0.76;
      }
}
@include laptop(){
  .achievements {
    
    .number {
      font-size: 3.375rem;
      line-height: 4.125rem;
      
    }

    .label {
      font-size: 1rem;
      line-height: 1.1875rem ;
    }
  }
}


@include mobile() {
  .achievements {
    
      .number {
        font-size: 2.8125rem;
        line-height: 3.4375rem;
      }

      .label {
        font-size: 1rem;
        line-height: 1.69rem ;
      }
    
  }
}
