{% if page.author %}
{% assign author = site.members | where: "author_id", page.author | first %}{% else %}{% assign author = {} %}
{% endif %}
{% if page.crosspost %}{% assign crosspost_template = page.crosspost %}{% endif %}
{% if crosspost_template == true %}
{% assign crosspost_template = author.crosspost %}
{% endif %}
{% if crosspost_template %}
  {% assign categories = page.categories | join: '/' %}  
  {% if categories != blank and categires != nil %}
    {% assign categories = categories | append: '/' %}
  {% endif %}
  {% assign year = page.date | date: '%Y' %}  
  {% assign month = page.date | date: '%m' %}  
  {% assign day = page.date | date: '%d' %}  
  {% assign url = crosspost_template  %}
  {% assign url = url | replace: ':categories/', categories %}
  {% assign url = url | replace: ':year', year %}
  {% assign url = url | replace: ':month', month %}
  {% assign url = url | replace: ':day', day %}
  {% assign page_url = page.url | replace: '/blog/', '' | replace: '/', '' %}
  {% assign url = url | replace: ':title', page_url %}
  <p class="crosspost">This article is crossposted with <a href="{{ url }}">author's personal blog</a>.</p>
{% endif %}
