<!DOCTYPE html><!-- This site was created in Webflow. http://www.webflow.com --><!-- Last Published: Fri May 10 2019 13:09:48 GMT+0000 (UTC) -->
<html lang="en" class="has-navbar-fixed-top" data-wf-domain="brightproject.webflow.io" data-wf-page="5c8a1a7957d74f4646723428" data-wf-site="5c5958ec7cfe14240a4f0171">
<head>
    {% include _head.html %}
</head>
<body class="layout-{{ page.layout }} page-{{ page.class }}">
{% include _top_navigation.html %}
{{ content }}
{% include _footer.html %}
{% include _scripts.html %}
</body>
</html>
