---
layout: default
---

{% include _top_navigation.html %}

<div class="section-17">
    <div class="container-26 w-container"><h1 class="heading-20">{{ page.title }}</h1>
        <div class="text-block-15">{{ page.hours }}</div>
        <div class="text-block-17">{{ page.salary }}</div>
        <div class="rich-text-block-6 w-richtext">
            {{ content }}
        </div>
        <a href="{{ site.url }}/apply-for-job" class="apply_job_button specific-job w-button">apply</a>
        <a href="javascript: history.go(-1)" class="backbutton w-inline-block"><img src="{{ site.url }}/images/arrow-back.svg" width="30" alt><div class="text-block-26">Back</div></a>
    </div>
</div>

{% include _footer.html %}
