<!doctype html>
<html lang="en">

<head>
    {% include _head.html %}
</head>

<body class="{% if page.bodyClass %}{{page.bodyClass}}{% else %}standard{% endif %}">
    <div class="container">
        <header>
            <h1><a href="/" title="Bright Inventions">Bright Inventions</a></h1>

            <nav>
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <ul id="main-nav">
                  {% assign currentUrl = page.url | replace: 'index.html', '' %}
                  {% for single in site.data.navigation %}
                    <li class="item{%if single.url == currentUrl %} active{%endif%}"><a href="{{single.url}}">{{single.text}}</a></li>
                  {% endfor %}
                </ul>
            </nav>
        </header>

        <section>
          {{ content }}

          <div class="clearfix"></div>
        </section>
</div>

{% include _footer.html %}
<!-- <script src="/assets/js/main.js"></script> -->
{% include _scripts.html %}
</body>

</html>
