---
layout: default
---

<div class="container">
    <article class="section">
        <h1 class="title has-text-dark has-text-weight-bold">{{ page.title }}</h1>
        <div class="content">
            <h3 class="has-text-grey has-text-weight-bold">{{ page.hours }}</h3>
            <h3 class="has-text-primary has-text-weight-bold">Salary: {{ page.salary }}</h3>
        </div>
        <div class="content">{{ content }}</div>
        <div class="content">
            <a href="/apply-for-job" class="button is-primary">Apply</a>
        </div>
        {% include _back_button.html url="/career#open-positions" label="Open positions" %}
    </article>
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "JobPosting",
        "title": "{{ page.title }}",
        "datePosted": "{{ site.time }}",
        "validThrough": "2021-12-31",
        "description": "{{ page.content | strip_html | smartify }}",
        "hiringOrganization": {
            "@type": "Organization",
            "name": "Bright Inventions",
            "sameAs": "https://brightinventions.pl/"
        },
        "industry": "Software",
        "employmentType": "{{ page.employment_type | default: 'OTHER' }}",
    {% if page.salary_min %}
        "baseSalary": {
          "@type": "MonetaryAmount",
          "currency": "PLN",
          "value": {
            "@type": "QuantitativeValue",
            "minValue": {{ page.salary_min }},
            "maxValue": {{ page.salary_max }},
            "unitText": "MONTH"
          }
        },
    {% endif %}
        "jobLocation": {
            "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Matejki 12",
                "addressLocality": "Gdańsk",
                "postalCode": "80-232",
                "addressCountry": "PL",
"addressRegion": "pomorskie"
            }
        }
    }
</script>

