---
layout: default
---

<div class="container">
    <article class="section">
        <div class="level">
            <figure class="level-left image is-256x256">
                <img src="{{ page.avatar | absolute_url }}" alt="{{ page.name }}">
            </figure>
            <div class="section">
                <h1 class="title">{{page.short_name}}</h1>
                <p>{{content}}</p>
            </div>
        </div>
        {% include _back_button.html url="/about-us?tabs.tab-content=2" label="Team" %}
    </article>
</div>


<script type="application/ld+json">
    {% assign same_as = "" | split: ', ' %}
    {% if page.twitter %}
    {% capture url %}"https://twitter.com/{{ page.twitter }}"{% endcapture %}
    {% assign same_as = same_as | push: url %}
    {% endif %}
    {% if page.github %}
    {% capture url %}"https://github.com/{{ page.github }}"{% endcapture %}
    {% assign same_as = same_as | push: url %}
    {% endif %}
    {% if page.stackoverflow %}
    {% capture url %}"https://stackoverflow.com/users/{{ page.stackoverflow }}"{% endcapture %}
    {% assign same_as = same_as | push: url %}
    {% endif %}
    {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "{{ page.name }}",
        "url": "{{ page.web }}",
        "image": "{{ page.avatar | absolute_url }}",
        "jobTitle": "{{ page.bio }}",
        "sameAs": [
            {{ same_as | join: ',' }}
        ],
        "worksFor": {
            "@type": "Organization",
            "name": "Bright Inventions"
        }
    }
</script>

{% include _fake_ratings_tag.html %}

