---
layout: home
bodyClass: standard post
customCss: post
---
<div id="main" role="main">
    <article class="post">
        <h1>{{ page.title }}</h1>
        {% include post/meta.html %}
        <hr class="gray-line">
        <div class="article-wrap">
            {{ content }}
            <hr />
            <footer role="contentinfo">
                <div class="article-author-bottom">
                    {% include _author-bio.html %}
                </div>
                <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
            </footer>
        </div><!-- /.article-wrap -->
        <!-- {% include post/crosspost.html %} -->
        {% if site.owner.disqus-shortname and page.comments == true %}
            <section id="disqus_thread"></section><!-- /#disqus_thread -->
        {% endif %}
    </article>
</div><!-- /#main -->
