---
layout: default
class: blog-post
---

{% assign author = site.members | where: "author_id", page.author | first %}

<div class="container">
    <article class="section">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <a href="{{ author.url }}">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64"><img src="{{ author.avatar | absolute_url }}" alt="{{ author.name }} bio photo" class="is-rounded"></p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h4 class="title has-text-dark">{{ author.name }}</h4>
                                <p class="subtitle is-6">{{ author.bio }}</p>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
            <div class="column has-text-right">
                <div class="content has-text-grey-light">
                    <p class="has-text-primary">{% include post/read_duration.html %}</p>
                    {% include _tags.html tags=page.tags class='has-justify-content-flex-end' %}
                    {%- assign entry_path = page.path | remove_first: "_posts/" | remove_first: ".md"  -%}
                    <p>{% include post/date.html date=page.date updated=page.updated %} <a class="has-text-grey-light" href="{{site.url}}/admin/#/collections/blog/entries/{{ entry_path }}">Edit</a></p>
                </div>
            </div>
        </div>

        <h1 class="title">{{page.title}}</h1>
        <div class="content">
            {{content}}
        </div>

        {% include _back_button.html url="/blog" label="Blog" %}

        {% include post/crosspost.html %}

        {% if site.owner.disqus-shortname and page.comments == true %}
        <section id="disqus_thread"></section><!-- /#disqus_thread -->
        {% endif %}

    </article>
</div>


<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        "description": "{{ page.excerpt | strip_html | smartify }}",
    {% if page.image %}
    "image": {
    "@type": "ImageObject",
    "url": "{{ page.image | absolute_url }}"
    },
    {% endif %}
    "author": {
    "@type": "Person",
    "name": "{{ author.name }}"
    },
    "publisher": {
    "@type": "Organization",
    "name": "Bright Inventions",
    "logo": {
    "@type": "ImageObject",
    "url": "https://brightinventions.pl/images/logo-small.png",
    "width": 157,
    "height": 60
    }
    },
    "datePublished": "{{ page.date }}"
    }
</script>
{% include _fake_ratings_tag.html %}
