@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  display: flex;
  align-items: center;
  height: $navbar-height;
  transition: box-shadow 0.3s ease-in;
  padding: 6px 32px 0;

  &.hasShadow {
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.05);
  }

  .brand {
    width: 175px;

    .logo.small {
      display: none;
    }
  }

  .burger {
    display: none;
  }

  :global(#topNavBar) {
    display: flex;
    flex-grow: 1;
    margin-left: 0;

    .item {
      align-items: center;
      display: flex;
      position: relative;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: unquote('clamp(1.125rem, 0.75rem + 0.4167vw, 1.25rem)');
      transition: all ease-out 0.3s;
      flex-basis: calc(100% / 6);

      &:last-of-type {
        justify-content: flex-end;
        flex-grow: 0;
        padding-right: 0;
        flex-basis: content;
      }

      span {
        padding: 0.4rem 0.8rem;
        transition: all ease-out 0.3s;
        text-align: center;

        &:hover {
          color: $heading-black;
          font-weight: 600;
        }
      }

      &:hover {
        background-color: transparent;
        color: $heading-black;
      }

      &:global(.is-primary) {
        font-weight: bold;

        span {
          background-color: $primary;
          color: $heading-black;
          font-weight: bold;
          &:hover {
            background-color: $heading-black;
            font-weight: 600;
            color: $white;
            font-weight: bold;
          }
        }
      }

      &.current {
        span {
          color: #0a0a0a;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}
@include laptop() {
  .container {
    :global(#topNavBar) {
      .item {
        font-size: unquote('clamp(0.9375rem, -0.5625rem + 1.875vw, 1.125rem)');
      }
    }
  }
}
@include tabletXL() {
  .container {
    .brand {
      width: unquote('clamp(7.8125rem, 6.3056rem + 2.4306vw, 8.25rem)');
    }
    :global(#topNavBar) {
      .item {
        font-size: unquote('clamp(0.812575rem, 0.3823rem + 0.694vw, 0.9375rem)');
      }
    }
  }
}

@include tabletMax() {
  .container {
    padding: 0;

    .brand {
      //width: 65px;
      //padding: 1rem 0.5rem 0.5rem 0.5rem;
      z-index: 5;

      //.logo {
      //  &.big {
      //    display: none;
      //  }
      //
      //  &.small {
      //    display: block;
      //  }
      //}
    }

    .burger {
      display: block;
      z-index: 5;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: $navbar-height;
      background-color: $white;
      z-index: 3;
    }

    :global(#topNavBar) {
      display: flex;
      overflow: auto;
      flex-direction: column;
      text-align: center;
      position: fixed;
      background-color: $white;
      top: calc(#{$navbar-height} - 1px);
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform 0.3s ease-in;
      transform: translateY(-100%);
      z-index: 1;
      margin-left: 0;

      &:global(.is-active) {
        transform: translateY(0%);
      }

      .item {
        font-size: 24px;
        max-height: 100px;
        &:last-of-type {
          justify-content: center;
        }

        span {
          display: inline-block;
          position: relative;
          top: 50%;
          transform: translateY(-90%);
        }
      }
    }
  }
}
