---
layout: default
title: Career
class: career
---

<section class="hero is-dark we-hire">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">we hire bright people</h1>
      {% include _jobs_open_top.html %}
    </div>
  </div>
</section>

<div class="container">
  <article class="section">
    <h2 class="title has-text-dark">what we practice?</h2>
    <div class="columns is-multiline">

      <div class="column is-one-third has-text-centered">
        <figure class="image is-128x128 is-inline-block"><img src="/images/design.svg" alt="in house design"></figure>
        <p>in house design</p>
      </div>

      <div class="column is-one-third has-text-centered">
        <figure class="image is-128x128 is-inline-block"><img src="/images/code-review.svg" alt="code review"></figure>
        <p>code review (Upsource)</p>
      </div>

      <div class="column is-one-third has-text-centered">
        <figure class="image is-128x128 is-inline-block"><img src="/images/pairProgramming.svg" alt="pair programming"></figure>
        <p>pair programming</p>
      </div>

      <div class="column is-one-third has-text-centered">
        <figure class="image is-128x128 is-inline-block"><img src="/images/testdrivenenvironment.svg" alt="TDD"></figure>
        <p>test driven development</p>
      </div>


      <div class="column is-one-third has-text-centered">
        <figure class="image is-128x128 is-inline-block"><img src="/images/continuousintegration.svg" alt="CI/CD"></figure>
        <p>continuous integration and delivery</p>
      </div>


      <div class="column is-one-third has-text-centered">
        <figure class="image is-128x128 is-inline-block"><img src="/images/oneOnOne.svg" alt="one on one"></figure>
        <p>one on one meetings</p>
      </div>

    </div>
  </article>
</div>

<section class="hero is-dark bright-minds">
  <div class="container has-text-centered is-flex has-items-centered">
    <h2 class="title">
      bright minds, bright solutions
    </h2>
  </div>
</section>

<div class="container">
  <article class="section">
    <h2 class="title" id="open-positions">open positions</h2>
    {% include _jobs_open_all.html %}
  </article>
</div>
