@import "../styles/mixins";
@import "../styles/variables";

.page {
  padding: 0 2rem;
}

@include mobile() {
  .page {
    padding: 0;

    &.menuOpened {
      overflow: hidden;
      max-height: calc(100vh - #{$navbar-height});
    }
  }
}
