.container {
  .navbarItems {
    flex: 1;

    .item {
      justify-content: center;
      text-transform: none;
      color: black;

      & > a {
        font-size: 1.1rem;
        border: 0;

        &.current {
          background-color: black;
          color: white;
        }

        &.estimate {
          font-family: 'SuisseIntl Black';
          font-style: normal;
          font-weight: normal;
        }
      }

      @media (max-width: 1024px) {
        text-align: center;
        height: 100px;
        font-size: 24px;
        align-items: center;
        display: flex;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .navbarItems {
      .item a {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container.opened {
    bottom: 0;

    :global(.navbar-menu) {
      box-shadow: none;
    }
  }
}
