@import '../styles/variables';
@import '../styles/mixins';

.info {
  max-width: 965px;
  padding-bottom: 0;
  margin: 0 auto;

  & > div:first-of-type {
    margin-bottom: 2rem;
  }

  .filter {
    border-radius: 0;
  }
}

.project {
  border: 1px solid $box-border;
  margin: 0.75rem;
  padding: 0;
}

@include tablet() {
  .project {
    min-width: calc(50% - 1.5rem);
    max-width: calc(50% - 1.5rem);
  }
}
